---
# cspell:words altera llvmlibc
# prettier-ignore
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  *,
  -altera*,
  -fuchsia*,
  -llvmlibc*,
  -llvm-header-guard
WarningsAsErrors: "*"
HeaderFilterRegex: ""
AnalyzeTemporaryDtors: false
FormatStyle: file
